<div class="site-section bg-light">
  <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h2>Recent Posts</h2>
        <hr>
        </div>
      </div>
  <div class="row">
    <div class="col-lg-6">
      <% particles.each do |article| %>
      <div class="entry2">
        <div class="excerpt">
            <a href="<%= article_path(article.id) %>"><h2><%= article.title %></h2></a>
            <span class="post-category text-black bg-secondary mb-4"><%= article.category.name %></span>
            <div class="post-meta align-items-center text-left clearfix">
                <span class="d-inline-block mt-1"> By <%= article.user.email %></span>
                <span>&nbsp;-&nbsp; <%= article.created_at %></span>
                <a href="<%= article_path(article.id) %>">
                  <%= image_tag article.image, style: "img-fluid rounded float:right; width:100%" %>
                </a>
            </div>
            <p><%= article.description %></p>
            <p><a href="#">Read More</a></p>
            <% if article.user == current_user %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
            <br><br><br>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>


<%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
